body {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-size: 16px;
  color: #222;
}

.btn {
  background-color: #eee !important;
}

.single-task {
  color: red !important;
  min-height: 75px;
  padding: 5px;
  background: salmon !important;
  position: relative;
  margin-bottom: 10px;
}
